[core]
  pager = less
	excludesfile = ~/.gitignore
[user]
  name = Brian Riehman
  email = brian@riehman.com
[advice]
  statusHints = false
[color]
  ui = auto
[diff]
  mnemonicprefix = true
  renames = copies
  noprefix = true
[alias]
  br = branch
  ci = commit --verbose
  cia = commit --amend
  cmr = create-merge-request
  co = checkout
  cp = cherry-pick
  ctags = !.git/hooks/ctags
  db = diff-branch
  dm = "!git diff-branch origin/master HEAD"
  fb = find-branch
  fco = find-branch-checkout
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  ls = ls-files
  mb = merge-base
  mod = !git status --porcelain | grep -E '^.M' | cut -c4-
  md = merge-diff
  mu = merge-upstream
  nb = name-branch
  rb = rebase
  rbc = rebase --continue
  rbs = rebase --skip
  redo = commit --amend -C HEAD
  rhu = reset-hard-upstream
  rl = reflog
  rmm = remove-merged
  rp = remote prune
  rs = remote show
  rt = remote
  rtrmm = remote-remove-merged
  ru = remote update
  sb = show-branch
  sm = submodule
  smf = submodule foreach
  smu = submodule update
  sl = stash list
  sp = stash pop
  ss = stash show
  st = status
  staged = diff --cached
  t = !git tag | sort -n
  um = !git status --porcelain | grep -E '^U' | cut -d' ' -f2
  wm = when-merged
[log]
  decorate = full
  mailmap = true
[merge]
  tool = vimdiff
  stat = true
[rerere]
  enabled = 1
[init]
  templatedir = ~/.git-template
[push]
  default = upstream
[config "merge-request"]
	target = master
