[core]
  pager = less
[user]
  name = Brian Riehman
  email = brian@riehman.com
[advice]
  statusHints = false
[branch]
  autosetupmerge = true
[color]
  ui = auto
[diff]
  mnemonicprefix = true
  renames = copies
[alias]
  br = branch
  ci = commit
  cia = commit --amend
  co = checkout
  cp = cherry-pick
  ctags = !.git/hooks/ctags
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  mod = !git status --porcelain | grep -E '^.M' | cut -c4-
  rb = rebase
  rbc = rebase --continue
  rbs = rebase --skip
  rl = reflog
  rs = remote show
  rt = remote
  ru = remote update
  sb = show-branch
  sm = submodule
  smf = submodule foreach
  smu = submodule update
  sl = stash list
  sp = stash pop
  ss = stash show
  st = status
  staged = diff --cached
  t = !git tag | sort -n
  um = !git status --porcelain | grep -E '^U' | cut -d' ' -f2
[log]
  decorate = full
[merge]
  tool = vimdiff
  stat = true
[rerere]
  enabled = 1
[init]
  templatedir = ~/.git-template
[push]
	default = current
